.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #fff;
  padding: 1em;
  border-radius: 1em;

  width: 35rem;
  //   height: 40rem;
  max-width: calc(100vw - 2em);
  max-height: calc(100vh - 2em);
  h2 {
    margin: 0 0 0.5em;
  }
}

.examData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.group {
  position: relative;
  margin: 0.25em;
  padding: 0.9em 0 0;
  // width: 10rem;

  .label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.9rem;
    color: #777;
  }
}

// .student {
//   position: relative;
//   margin: 0 1em;
//   margin-left: 12rem;
//   display: grid;
//   grid-template-columns: repeat(var(--number-of-subjects), 1fr);
//   grid-template-rows: repeat(var(--number-of-students), 1fr);
//   width: 35rem;
//   overflow-x: scroll;
//   input {
//     margin: 0.25em;
//   }
//   .studentName {
//     position: fixed;
//     left: 1em;
//   }
// }
.markSection {
  border: 1px solid #ccc;
  border-radius: 1em;
  margin: 1em auto 0;

  padding: 0.5em;
}
.tableContainer {
  overflow: auto;
  //   height: 300px;
  // width: 62rem;
  margin: 0 auto;
  //   padding: 1em;

  //   scrollbar-width: 10rem;
  ::-webkit-scrollbar {
    width: 100px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.markTable {
  white-space: nowrap;
  //   table-layout: fixed;
  //   border-collapse: collapse;

  tr {
    line-height: 0;
  }
  th {
    border-bottom: 0.5px solid #ccc;
    margin-right: -3px;
    min-width: 150px;
    margin: 0;
    color: var(--theme-primary);
  }

  td:first-child {
    padding: 0 0.25em;
  }

  th {
    position: sticky;
    z-index: 1;
    background: white;
    top: 0;
    padding: 0.35em;
  }
  td:first-child,
  th:first-child {
    background: white;
    z-index: 2;
    position: sticky;
    left: 0;
    border-right: 0.5px solid #ccc;
  }
  td:last-child,
  th:last-child {
    background: white;
    z-index: 2;
    position: sticky;
    right: 0;
    border-left: 0.5px solid #ccc;
    padding: 0 0.25em;
  }

  td input {
    height: 1.7rem;
    font-size: 1.2rem;
    text-align: right;
    padding: 0 0.25em;
    width: 100%;
    border: 0.5px solid #ccc;
  }
}
.subject {
  .disabledInput {
    text-align: center;
  }
}
.unsaved {
  input {
    background: rgb(255, 255, 168);
  }
}
.actionBtnGrp {
  background: var(--theme-white);
  margin-top: 1em;
  width: 100%;
  border-radius: 0 0 0.5em 0.5em;
  clip-path: inset(-15px 0px 0px 0px);
  display: grid;
  gap: 0.7em;
  float: right;
  grid-template-columns: repeat(2, 7rem);
  direction: rtl;
  > button {
    padding: 0.5em 0;
    // margin: 0 0.25em;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    // flex: 1;
    width: 7rem;
  }
  .submit {
    background: var(--theme-primary);
    color: var(--theme-white);
  }
  .cancel {
    background: var(--theme-white);
    color: var(--text-primary);
    border: 2px solid var(--theme-primary);
  }
  &.reverseFlex {
    .cancel {
      order: -1;
    }
  }
}
