.semesters {
  width: 100%;
  position: relative;
  > p {
    padding: 1em;
    position: relative;
    cursor: pointer;
    &:hover {
      background: #e5f6ff;
    }
    &.selected {
      background: #e5f6ff;
    }
  }
  max-height: 90vh;
  overflow: auto;
}

.addBtn {
  background: var(--theme-primary);
  color: #fff;
  font-weight: bold;
  border: none;
  position: absolute;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  right: 1em;
  top: 0.45em;
  cursor: pointer;
}
.editBtn {
  color: #777;
  position: absolute;
  right: 0.5em;
  bottom: 0.3em;
  font-size: 0.9rem;
  cursor: pointer;
}
.sectionHeader {
  color: #777;
  text-transform: uppercase;
  border-left: 2px solid var(--theme-primary);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 0 0 0.25em;
  margin: 1em 0.5em 0.5em 1em;
}
.hr {
  width: calc(100% - 2rem);
  margin: 1em;
  border: 0;
  height: 1px;
  background: rgb(169, 169, 169);
}
